# MySQL Configuration
# MYSQL_HOST=localhost
# MYSQL_PORT=3306
# MYSQL_USER=root
# MYSQL_PASSWORD=your_password
# MYSQL_DB_NAME=coaching_institute

# # JWT Secret (if needed)
# JWT_SECRET=your_jwt_secret

JWT_SECRET="shhh..."
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_DB_NAME=coaching_institute