# MySQL Configuration
# MYSQL_HOST=localhost
# MYSQL_PORT=3306
# MYSQL_USER=root
# MYSQL_PASSWORD=your_password
# MYSQL_DB_NAME=coaching_institute

# # JWT Secret (if needed)
# JWT_SECRET=your_jwt_secret

MONGODB_URL=mongodb+srv://hackerbro2532005:2i7sm1zBKIxl5gB2@cluster0.owsl1bv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB_NAME="SkillCrafters"
JWT_SECRET="shhh..."
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_DB_NAME=coaching_institute